<html>
    <head>
        <title>Qafoo Workshop with Symfony2</title>

        <style type="text/css">
        <!--
        body { font-family: Verdana, Arial }
        -->
        </style> 
    </head>

    <body>
        <h1><a href="{{ path('homepage') }}">Qafoo Workshop with Symfony2</a></h1>

        {% block content %}{% endblock %}
    </body>
</html>
