{% extends "QafooWorkshopBundle::layout.html.twig" %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice" style="background-color:lightblue;width:500px;padding:4px;margin:10px;">
        {{ flashMessage }}
    </div>
{% endfor %}

<form method="post" action="{{ path('form') }}">

    {{ form_widget(form) }}

    <input type="submit" value="Calculate" />

</form>

{% endblock %}
